<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue.js example</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <iframe src="//vk.com/video_ext.php?oid=-30316056&id=456275393&hash=c6e3d3505a7b44dd&hd=2" width="853" height="480" frameborder="0" allowfullscreen></iframe>
        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img :src="image" :alt="altText">
                </div>

                <div class="product-info">
                    <h2>{{ product }}</h2>
                    <p>{{ description }}</p>

                    <p v-show="inStock">In Stock</p>

                    <!--<p v-if="inStock">In Stock</p>-->
                    <!--<p v-else>Out of Stock</p>-->

                    <p v-if="inventory > 10">We have a lot of 'em!</p>
                    <p v-else-if="inventory <= 10 && inventory > 0">Hurry up!</p>
                    <p v-else>Nor in stock. Sorry :(</p>

                    <a :href="link">Prototype</a>
                    <span v-show="onSale">On Sale!</span>

                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <div v-for="variant in variants":key="variant.variantId">
                        <p @mouseover="updateProduct(variant.variantImage)">
                            {{ variant.variantColor }}
                        </p>
                    </div>

                    <ul v-for="size in sizes">
                        <li>{{ size }}</li>
                    </ul>

                    <div class="cart">
                        <p>Cart({{ cart }})</p>
                    </div>

                    <button @click="addToCart">Add to Cart</button>
                    <button @click="deleteFromCart">Delete from Cart</button>
                </div>
            </div>
        </div>
        <script src="main.js"></script>
    </body>
</html>

